.logo{
  text-align: left;
  font-weight: bold;
  font-size: 36px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.logoSecondHalf{
  text-align: left;
  font-weight: normal;
  font-size: 28px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
footer {
  position: absolute;
  bottom: 0px;
  background-color: blue;
  color: white;
  padding: 5px;
}