.logo{
  font-weight: bold;
  font-size: 36px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.logoSecondHalf{
  font-weight: normal;
  font-size: 28px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.logolink, .logolink:visited{
  text-decoration: none;
  color: black;
}
header{
  text-align: left;
}
footer {
  position: absolute;
  bottom: 0px;
  background-color: blue;
  color: white;
  padding: 5px;
}