
/** Prepare to make a new navigation bar to link to all the pages on the page
.TopNav { 
  z-index: 10000;
  background-color: grey;
  
}
.Nav {
  background-color: grey;
  color: lightgray;

}

*/
.App {
  display: flex;
  animation: fade-in 2s;
}
.Logo {
  /* Î£Bank */
  position: fixed;
  left: 5px;
  top: 5px;

  /* Logo */

  font-family: Segoe UI;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 22px;
  /* identical to box height, or 61% */

  display: flex;
  align-items: center;
  font-feature-settings: 'tnum' on, 'lnum' on;

  color: #000000;
}

header{
  margin: auto;
  width: 100%;
}

.logo{
  font-weight: bold;
  font-size: 36px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@keyframes fade-in {
  from {opacity: 0%;}
  to {opacity: 100%}
}
.Signup {

  background-color: black;
  color: white;
  border-radius: 99em;
  margin: 10px;
  padding: 10px;
  font-size: large;
}

.Signup:hover{
  color: black;
  background-color: white;
  transition-duration: 0.4s;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

header{
  text-align: left;

}
footer {
  position: absolute;
  bottom: 0px;
  left: 0px;
  background-color: blue;
  color: white;
  padding: 5px;
}
