.OptionsLoggedout{
    position: fixed;
    text-align: center;
    top: -7px;
    width: 4cm;
    right: 0cm;
    margin-right: 10px;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Options{
    position: fixed;
    text-align: center;
    top: -7px;
    width: 43vw;
    right: 0cm;
    margin-right: 90px;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logoSecondHalf{
    font-weight: normal;
    font-size: 28px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.logolink, .logolink:visited, .logolink:hover{
    text-decoration: none;
    color: black;
}

.NavbarButtonLoggedIn{
    text-decoration: none;
    font-size: medium;
    position: relative;
    border-radius: 99em;
    border-color: transparent;
    background-color: black;
    color: white;
    padding: 10px;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
}

.NavbarButton{
    text-decoration: none;
    font-size: medium;
    position: relative;
    border-radius: 99em;
    border-color: transparent;
    background-color: black;
    color: white;
    padding: 10px;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
}

.NavbarButton:hover, .NavbarButtonLoggedIn:hover{
    background: white;
    color: black;
    transition-duration: 0.25s;
}

.padding-top {
    padding-top: 100px; 
}
